audio {
    display: none;
}

svg {
    border: 1px solid lightgray;
    width: 80vh;
}

.display-4 {
    font-size: 3.25rem;
}

.p-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

#promotion {
    position: fixed;
    top: 40vh;
    left: calc(50vw - 31vh);
    z-index: 1;
    border: 2px solid black;
    background-color: white;
}

.promotedPiece {
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 15vh;
}

.promotedPiece:hover {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

#promotedQueen {
    margin-left: 1vh;
}

#promotedKnight {
    margin-right: 1vh;
}