{% extends 'base.html' %}

{% block title %}Room: {{ room }}{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="../static/css/game.css">
{% endblock %}

{% block content %}
    <audio controls id="moveSound">
        <source src="https://images.chesscomfiles.com/chess-themes/sounds/_MP3_/default/move-self.mp3">
    </audio>

    <div class="d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-center">
            <h1 class="display-4">{{ user2 }}</h1>
        </div>
        <div class="d-flex justify-content-center">
            <svg viewBox="0 0 800 800" id="board"></svg>
        </div>
        <div class="d-flex justify-content-center">
            <h1 class="display-4">{{ user1 }}</h1>
        </div>
    </div>
    <div class="modal">
        <div class="d-flex justify-content-center" id="promotion">
            {% if flip == 0 %}
                <img src="../static/images/wq.png" class="promotedPiece" id="promotedQueen">
                <img src="../static/images/wr.png" class="promotedPiece" id="promotedRook">
                <img src="../static/images/wb.png" class="promotedPiece" id="promotedBishop">
                <img src="../static/images/wn.png" class="promotedPiece" id="promotedKnight">
            {% else %}
                <img src="../static/images/bq.png" class="promotedPiece" id="promotedQueen">
                <img src="../static/images/br.png" class="promotedPiece" id="promotedRook">
                <img src="../static/images/bb.png" class="promotedPiece" id="promotedBishop">
                <img src="../static/images/bn.png" class="promotedPiece" id="promotedKnight">
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let state = '{{ state }}';
        let flip = {{ flip }};
    </script>

    <script src="../static/js/Pieces/Piece.js"></script>
    <script src="../static/js/Pieces/WPawn.js"></script>
    <script src="../static/js/Pieces/WKnight.js"></script>
    <script src="../static/js/Pieces/WBishop.js"></script>
    <script src="../static/js/Pieces/WRook.js"></script>
    <script src="../static/js/Pieces/WQueen.js"></script>
    <script src="../static/js/Pieces/WKing.js"></script>
    <script src="../static/js/Pieces/BPawn.js"></script>
    <script src="../static/js/Pieces/BKnight.js"></script>
    <script src="../static/js/Pieces/BBishop.js"></script>
    <script src="../static/js/Pieces/BRook.js"></script>
    <script src="../static/js/Pieces/BQueen.js"></script>
    <script src="../static/js/Pieces/BKing.js"></script>

    <script src="../static/js/game.js"></script>
{% endblock %}