{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../static/css/auth.css">
{% endblock %}

{% block content %}
    <div class="card mx-auto">
        <div class="card-body">
            <form method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label for="username">{{ form.username.label }}</label>
                    {{ form.username() }}
                </div>
                <div class="form-group">
                    <label for="password">{{ form.password.label }}</label>
                    {{ form.password() }}
                </div>
                <div>{{ form.submit() }}</div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="../static/js/login.js"></script>
{% endblock %}